<?xml version="1.0" encoding="utf-8"?>
<configuration>
	 <appSettings>
  		
		<add key="TCP_PORT" value="51555"/>
		<add key="HTTP_PORT" value="51556"/>		
		<add key="pathfileconflog4net" value="C:\ComUNICO_NET\codice\MotoreTarsu\ServizioMotoreTarsu\bin\log4net.xml"></add>
		
  </appSettings>  
       <system.runtime.remoting> 
                <customErrors mode="Off"/> 
       </system.runtime.remoting> 
       
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
